<!-- This is the dog ID page...a redirect instead of the confirm page... kinda like an owner profile. -->

<center>
  <h3><%= @d.name %>'s Profile</h3>
  
  <p>Dog Name: <%= @d.name %></p>
  <p>Breed: <%= @d.breed %></p>
  <p>Age: <%= @d.age %></p>
  <p>Colour: <%= @d.colour %></p>
  <p>Description: <%= @d.description %></p>
  <p>Temperament: Will be added soon </p>
  
  <br><br>
  <nav>
    <ul>
      <li class="users_li" ><a href="/new_user_dog" class="users_a">Add Pet</a> </li>
      <li class="users_li" ><a href="/edit_pet_info" class="users_a">Edit Pet</a> </li>
      <li class="users_li" ><a href="/add_temperament" class="users_a">Add Temperament</a> </li>
    </ul>
  </nav>
</center>