<h1><%= @header %></h1>

<center>
  <h3>Does this info look correct?</h3>
  
  <p>Name: <%= @name %></p>
  <p>Breed: <%= @breed %></p>
  <p>Age: <%= @age %></p>
  <p>Colour: <%= @colour %></p>
  <p>Description: <%= @description %></p>
  
  <br><br>
  <nav>
    <a href="/edit_pet_info">Edit Pet</a> - 
    <a href="#">Add a Pet</a>
  </nav>
</center>