<center>
  <h3>Does this info look correct?</h3>
  
  <p>Owner Name: <%= @name %></p>
  <p>Secondary Owner: <%= @secondary_owner %></p>
  <p>Phone: <%= @phone_num %></p>
  <p>Email: <%= @email %></p>
  <p>Address: <%= @address %></p>
  <p>City: <%= @city %></p>
  <p>State: <%= @state %></p>
  <p>Zip Code: <%= @zip %></p>
  
  <br><br>
  <nav>
    <a href="/edit_pet_info">Edit Pet</a> - 
    <a href="/edit_owner_info">Edit Owner</a>
  </nav>
</center>