<center>
  <h3>Does this info look correct?</h3>
  
  <p>Owner Name: <%= @d.name %></p>
  <p>Breed: <%= @d.breed %></p>
  <p>Age: <%= @d.age %></p>
  <p>Colour: <%= @d.colour %></p>
  <p>Description: <%= @d.description %></p>
  
  <br><br>
  <nav>
    <a href="/edit_pet_info">Edit Pet</a> - 
    <a href="/edit_owner_info">Edit Owner</a>
  </nav>
</center>