<h3>Does this look correct to you?</h3>

<!-- Example of how this may look...rather than redoing values. -->
<p>Name: <%= @o.name %></p>
<p>Secondary Owner: <%= @o.secondary_owner %></p>
<p>Phone Number: <%= @o.phone_num %></p>
<p>Email: <%= @o.email%></p>
<p>Address: <%= @o.address %></p>
<p>City: <%= @o.city %></p>
<p>State: <%= @o.state %></p>
<p>Zip Code: <%= @o.zip %></p>

<br><br>

<form action="/new_user_dog">
  
  <!-- <input type="hidden" name="owner_id" value="<%= @owner_id %>"> -->

  <input type="submit" value="Submit">

</form>
<br><br>