<!-- This is the owner ID page...a redirect instead of the confirm page... kinda like an owner profile. -->

<center>
  <h3><%= @o.name %>'s Profile</h3>
  
  <p>Owner Name: <%= @o.name %></p>
  <p>Secondary Owner: <%= @o.secondary_owner %></p>
  <p>Phone: <%= @o.phone_num %></p>
  <p>Email: <%= @o.email %></p>
  <p>Address: <%= @o.address %></p>
  <p>City: <%= @o.city %></p>
  <p>State: <%= @o.state %></p>
  <p>Zip Code: <%= @o.zip %></p>  
  
  <br><br>
  
  <p>Maybe itterate through a clickable list of dogs that they have?</p>
  
  <br><br>
  <nav>
    <a href="/edit_owner_info">Add Pet</a> - 
    <a href="/edit_pet_info">Edit Pet</a> - 
    <a href="/edit_owner_info">Edit Owner</a>
  </nav>
</center>