<!-- Working to get rid of this ERB -->
<!-- This can be deleted -->

<center>
  <h3>Does this info look correct?</h3>
  
  <p>Owner Name: <%= @o.name %></p>
  <p>Secondary Owner: <%= @o.secondary_owner %></p>
  <p>Phone: <%= @o.phone_num %></p>
  <p>Email: <%= @o.email %></p>
  <p>Address: <%= @o.address %></p>
  <p>City: <%= @o.city %></p>
  <p>State: <%= @o.state %></p>
  <p>Zip Code: <%= @o.zip %></p>
  
  <br><br>
  <nav>
    <a href="/edit_pet_info">Edit Pet</a> - 
    <a href="/edit_owner_info">Edit Owner</a>
  </nav>
</center>